@import '~normalize.css';
@import './transition.scss';

html,
body,
#app {
  height: 100%;
  box-sizing: border-box;
}

div,
form {
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}
